/* START HEADER */
.header{
    background: url("../assets/images/bg-pattern-intro-mobile.svg") no-repeat center center, 
    linear-gradient(to right bottom, var(--gradient-light-red), var(--gradient-red));
    height: max(80vh, 570px);
    border-bottom-left-radius: 100px;
}

.header__navbar--mobile{
    padding: 48px 24px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__navbar--desktop{
    display: none;
}

.header__content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100% - 88px);
}

.header__title{
    font-family: var(--title-font);
    color: var(--white);
    font-size: 2rem;
    text-align: center;
    font-weight: 500;
}

.header__description{
    font-family: var(--body-font);
    color: var(--white);
    font-weight: 300;
    font-size: 1.2rem;
    text-align: center;
    margin: 24px 0px;
}

.header__row{
    display: flex;
    gap: 16px;
    justify-content: center;
}

.header__link{
    font-family: var(--title-font);
    font-size: 1.25rem;
    font-weight: 700;
    padding: 16px;
    border-radius: 30px;
    border: 1px solid var(--white);
    display: inline-block;
    text-align: center;
    transition: all .3s;
}

.header__link:focus{
    outline: none;
    box-shadow: var(--focus-shadow)
}

.header__link:active{
    opacity: 0.5;
}

.header__link--start{
    background-color: var(--white);
    color: var(--light-red);
}

.header__link--learn{
    color: var(--white);
}

.header__link--learn:hover{
    color: var(--lighter-red);
    background-color: var(--white);
}
/* END HEADER */

/* START MENU */
.background-black{
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1000;
    opacity: 0.25;
    width: 100%;
    height: 100%;
}

.menu-lateral{
    background: transparent;
    position: absolute;
    top: -150vh;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 48px 24px 24px 24px;
    transition: all 300ms;
    overflow: auto;
}

.menu-lateral--open{
    top: 0;
    transition: all 300ms;
}


.menu-lateral__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-lateral__content{
    background-color: var(--white);
    border-radius: 5px;
    text-align: center;
    width: min(500px, 100%);
    margin-inline: auto;
    margin-top: 34px;
    padding-block: 40px;
    padding-inline: 30px;
}

.menu-lateral__lista{
    list-style: none;
}

.menu-lateral__button{
    display: flex;
    align-items: center;
    color: var(--darker-blue);
    font-weight: 700;
    font-size: 1rem;
    column-gap: 10px;
    margin-inline: auto;
    margin-bottom: 24px;
}

hr{
    background: var(--greyish-blue);
    width: 100%;
    height: 1px;
    margin-block: 35px;
}

.menu-lateral__link{
    color: var(--darker-blue);
    font-weight: 700;
    font-size: 1.2rem;
}

.menu-lateral__sign-up{
    display: inline-block;
    color: var(--white);
    background: linear-gradient(90deg, var(--gradient-light-red), var(--gradient-red));
    padding-block: 1rem;
    padding-inline: 2rem;
    border-radius: 50px;
    font-weight: 700;
    font-size: 1.2rem;
    margin-top: 24px;
}

.navbar__third-list,
.navbar__second-list,
.navbar__first-list{
    background-color: var(--greyish-blue);
    filter: brightness(1.15);
    width: 100%;
    border-radius: 5px;
    list-style: none;
    padding: 24px;
    display: none;
    flex-direction: column;
    gap: 20px;
    animation: toAppear 200ms 200ms backwards;
}

.third-list--open,
.second-list--open,
.first-list--open{
    display: flex;
}

.navbar__second-list,
.navbar__first-list{
    margin-bottom: 35px;
}

.navbar__third-link,
.navbar__second-link,
.navbar__first-link{
    color: var(--darker-greyish-blue);
    font-weight: 700;
    filter: brightness(1);
}

.menu-lateral__arrow-3,
.menu-lateral__arrow-2,
.menu-lateral__arrow-1{
    transition: all 300ms;
}

@keyframes toAppear{
    from{
        opacity: 0;
        transform: translateY(-24px);
    }

    to{
        opacity: 1;
        transform: translateY(0px);
    }
} 
/* END MENU */

/* START INTRODUCTION */
.introduction{
    margin-top: 95px;
}

.introduction__content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.introduction__content > *, .introduction__articles > *{
    margin-bottom: 32px;
}

.introduction article:last-child{
    margin-bottom: 0;
}

.introduction__title{
    margin-bottom: 50px;
}

.introduction__illustration{
    width: min(450px, 100%);
    margin-inline: auto;
    text-align: center;
}

.introduction__illustration img{
    width: 100%;
}
/* END INTRODUCTION */

/* START INFRA */
.infra{
    width: 100%;
    background: url('../assets/images/bg-pattern-circles.svg') no-repeat bottom, linear-gradient(to right bottom, var(--gradient-dark-blue), var(--gradient-blue));
    padding: 84px 24px;
    border-radius: 0px 100px 0px 100px;
    position: relative;
    z-index: -1;
}

.infra__phones{
    background: url('../assets/images/illustration-phones.svg') no-repeat center / contain;
    width: min(768px, 100%);
    margin-inline: auto;
    height: 400px;
    transform: translateY(50%);
}

.infra__phones--desktop{
    display: none;
}

.infra__title{
    margin-top: 150px;
    color: var(--white);
    font-size: 2.5rem;
}

.infra__text{
    color: var(--white);
}
/* END INFRA */

/* START ADVANTAGES*/
.advantages{
    margin-block: 110px;
}

.advantages__content > *, .advantages__articles > *{
    margin-bottom: 32px;
}

.advantages__laptop{
    display: block;
    width: min(500px, 100%);
    margin-inline: auto;
}

.advantages__laptop img{
    width: 100%;
}
/* END ADVANTAGES */

/* START FOOTER */
.footer{
    background-color: var(--darker-black-blue);
    border-top-right-radius: 100px;
}

.footer__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 62px 80px 40px;
}

.footer__title{
    font-family: var(--title-font);
    color: var(--white);
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 40px;
}

.footer__subtitle{
    color: var(--white);
    font-family: var(--title-font);
    font-size: 1.25rem;
    margin-bottom: 24px;
}

.footer__links{
    list-style: none;
    margin-bottom: 24px;
    text-align: center;
}

.footer__links > *:not(:last-of-type){
    margin-bottom: 8px;
}

.footer__link-item{
    text-decoration: none;
    color: var(--greyish-blue);
    font-family: var(--body-font);
    font-size: 1.25rem;
    font-weight: 300;
}

.footer__link-item:hover{
    text-decoration: underline;
}

.footer__link-item:focus{
    outline: 1px solid var(--white);
}

.footer__link-item:focus{
    opacity: 0.5;
}

:is(.footer__title, .footer__subtitle, .footer__link-item)::selection{
    background-color: var(--light-red);
}
/* END FOOTER */

/* START MEDIAS QUERYS */
@media screen and (min-width: 1124px) {
    /* START HEADER */
    .header{
        background: url("../assets/images/bg-pattern-intro-desktop.svg") no-repeat center center, 
        linear-gradient(to right bottom, var(--gradient-light-red), var(--gradient-red));
    }

    .header__navbar--mobile, .menu-lateral{
        display: none;
    }

    .header__navbar--desktop{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 60px 54px 0px;
        max-width: 1440px;
        margin-inline: auto;
        position: relative;
    }    

    .navbar-desktop__lista{
        list-style: none;
        display: flex;
        align-items: center;
        column-gap: 34px;
    }

    .navbar-desktop__logo{
        margin-right: 24px;
    }

    .navbar-desktop__button{
        color: var(--white);
        font-weight: 600;
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 1rem;
    }

    .navbar-desktop__button:hover{
        text-decoration: underline;
    }

    .navbar-desktop__arrow-3,
    .navbar-desktop__arrow-2,
    .navbar-desktop__arrow-1{
        transition: all 300ms;
    }

    .navbar__third-list--desktop,
    .navbar__second-list--desktop,
    .navbar__first-list--desktop{
        display: none;
        position: absolute;
        background-color: var(--white);
        width: 12%;
        border-radius: 5px;
        flex-direction: column;
        padding: 24px;
        margin-top: 24px;
        gap: 20px;
        animation: toAppear 200ms 200ms backwards;
        list-style: none;
        box-shadow: 0px 12px 24px 2px rgb(124, 124, 124);
    }
    
    .third-list-desktop-open,
    .second-list-desktop-open,
    .first-list-desktop-open{
        display: flex;
    }

    .navbar-desktop__third-link,
    .navbar-desktop__second-link,
    .navbar-desktop__first-link{
        color: var(--darker-greyish-blue);
        font-weight: 700;
        transition: all 250ms;
    }

    .navbar-desktop__third-link:hover,
    .navbar-desktop__second-link:hover,
    .navbar-desktop__first-link:hover{
        color: var(--black);
    }

    .navbar-desktop__link{
        color: var(--white);
        font-weight: 700;
        font-size: 1rem;
    }

    .navbar-desktop__sign-up{
        display: inline-block;
        color: var(--light-red);
        font-family: var(--title-font);
        background: var(--white);
        padding-block: .75rem;
        padding-inline: 2rem;
        border-radius: 50px;
        font-size: 1.25rem;
        font-weight: 700;
        transition: all .3s;
    }

    .header__title {
        font-size: 3.4rem;
    }
    /* END HEADER */

    /* START MAIN */
    .introduction__title{
        margin-top: 80px;
        margin-bottom: 0;
        font-size: 2.4rem;
        text-align: center;
    }

    .introduction__content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        'articles img';
        padding-left: 50px;
    }

    .introduction__content > *{
        margin-bottom: 0px;
    }

    .introduction__illustration{
        grid-area: img;
        width: 120%;
    }
    
    .introduction__illustration img{
        width: 100%;
        transform: translateX(13%);
    }
    
    
    .introduction__articles > *{
        margin-bottom: 0;
    }
    
    .introduction__articles{
        grid-area: articles;
    }

    .introduction__articles article:first-child{
        margin-bottom: 62px;
    }

    .infra{
        background-position: left bottom;
        display: flex;
        column-gap: 40px;
        margin-block: 200px;
        align-items: center;
        padding-block: 0;
        height: 400px;
        padding-inline: 48px;
    }

    .infra__content{
        margin-bottom: 130px;
    }

    .infra__phones{
        display: none;
    }
    
    .infra__phones--desktop{
        display: block;
        transform: translateY(3%);
    }

    .advantages{
        padding-right: 50px;
    }

    .advantages__content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 220px;
        margin-bottom: 150px;
    }

    .advantages__content > *{
        margin-bottom: 0px;
    }

    .advantages__laptop{
        width: 130%;
    }
    
    .advantages__laptop img{
        width: 100%;
        transform: translateX(-29%);
    }

    .advantages__articles > *{
        margin-bottom: 0;
    }

    .advantages__articles article:first-child{
        margin-bottom: 62px;
    }

    .advantages__articles{
        align-self: center;
    }
    /* END MAIN */

    /* START FOOTER */
    .footer__content{
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        padding-top: 80px;
        padding-bottom: 70px;
        width: min(1200px, 100%);
        margin-inline: auto;
    }

    .footer__links{
        text-align: left;
    }
    /* END FOOTER */
}

@media screen and (min-width: 1300px) {
    .introduction__title{
        transform: translateY(140%);
    }

    .introduction__content{
        grid-template-columns: .7fr 1fr;
        padding-left: 100px;
    }

    .infra{
        padding-inline: 90px;
    }

    .advantages{
        padding-right: 100px;
    }
}

@media screen and (min-width: 1400px) {
    .header__navbar--desktop{
        padding-inline: 160px;
    }   

    .introduction__title{
        transform: translateY(180%);
    }

    .introduction__content{
        padding-left: 150px;
    }

    .infra{
        padding-inline: 120px;
    }

    .advantages{
        padding-right: 150px;
    }

    .advantages__content{
        grid-template-columns: 1fr .7fr;
    }
}
